cosign.key
_build_*
output
_build-*/**
Makefile
*.ko
*.mod.cmd
modules.order
Module.symvers
*.mod.cmd
*.mod*.mod.o
build_files/.modules.order.cmd
build_files/.Module.symvers.cmd
build_files/.module-common.o
build_files/.hp-wmi.o.cmd
build_files/.hp-wmi.mod.o.cmd
build_files/.hp-wmi.ko.cmd
build_files/..module-common.o.cmd
build_files/hp-wmi.mod
build_files/hp-wmi.mod.c
build_files/hp-wmi.mod.o
build_files/hp-wmi.o
